body {
    background-color: rgba(0, 0, 0, 0.858);
    color:darkgray;
    margin-left:auto;
    margin-right:auto;
    width:60%;
    font-size:16px;
    line-height: 1.5;
}

img {
    margin-top:20px;
    margin-bottom: 20px;
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    display:block;  
}

i {
    font-size:24px;
}